dialog::backdrop
{
    background-color:rgba(0, 0, 0, 0.505) ;
}

dialog
{
    width: 650px;
    height: 250px;
    background:rgb(1, 0, 32);
    border: 2px solid #cacaca;
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
}

.container_cadastro {
    max-width: 760px; 
    margin: 7px;
    padding: 10px;
    flex-direction: column;
}

.values_novo_equipe {
    width: 100%;
    display: flex;
}

label 
{
    color: white;
    margin-bottom: 5px; 
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    
}

input { 
    padding: 5px; 
    margin-bottom: 5px;
    margin-left: none;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    outline: none;
    box-sizing: border-box; 
}

.values_novo_equipe
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.descri_equipe
{
    width: 100%;
    flex-direction: column;
}

.descri_equipe input
{
    width: 100%;
}