.container_cadastro {
    max-width: 760px; 
    margin-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    flex-direction: column;
}

.descricoes {
    display: flex;
    flex-direction: column; 
}

label {
    color: white;
    margin-bottom: 5px; 
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}

input { 
    padding: 5px;
    margin: 7px 0; 
    margin-bottom: 15px;
    border: none;
    outline: none;
    box-sizing: border-box; 
}
select, textarea 
{    
    width: 100%;
}

.motivo_atd
{
    width: 730px;
}

textarea
{
    width: 730px;
    height: 110px;
    padding: 5px; 
    margin: 5px;
    border-radius: 2px;
    resize: none;
    border: none;
}
.funci_status
{
    display: flex;          
    justify-content: space-between; 
    width: 750px;           
    margin-bottom: 15px;  
    
}
.f.funci_status select 
{
    margin: 10px;
    width: 50%;           
    padding: 5px;         
}
.selects_tipe 
{
    display: flex;          
    justify-content: space-between; 
    width: 750px;           
    margin-bottom: 20px;  
}
.selects_tipe select 
{
    margin: 10px;
    width: 50%;           
    padding: 5px;         
}
