h1
{
    color: rgb(255, 255, 255);
}

label {

    color: white;
    margin-bottom: 5px; 
    font-weight: bold;
    margin: 5px; 
}

.container_cadastro 
{
    max-width: 760px; 
    margin: 10px; 
    padding: 10px;
    flex-direction: column;
}

.descricoes 
{
    display: flex;
    flex-direction: column; 
}

select, textarea 
{    
    width: 100%;
}

.motivo_atd
{
    width: 730px;
}
textarea
{
    width: 730px;
    height: 110px;
    padding: 5px; 
    margin: 5px;
    border-radius: 2px;
    resize: none;
    border: none;
}

.funci_status
{
    display: flex;          
    justify-content: space-between; 
    width: 750px;           
    margin-bottom: 15px;  
    
}

.f.funci_status select 
{
    margin: 10px;
    width: 50%;           
    padding: 5px;         
}

.selects_tipe 
{
    display: flex;          
    justify-content: space-between; 
    width: 750px;           
    margin-bottom: 20px;  
}

.selects_tipe select 
{
    margin: 10px;
    width: 50%;           
    padding: 5px;         
}

.buttons
{
    display: flex;          
    justify-content: space-between; 
    width: 750px;           
    margin-bottom: 20px;
}
.buttons button
{
    border-radius: 5px;
    margin: 5px;
    width: 35%;           
    padding: 10px;
    background-color:rgb(24, 48, 231) ; 
    outline: none;
    color: white;
    font-weight: bold;
}
