* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    background: rgb(8, 16, 40);
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, aside, footer{
    display: flex;
    opacity: 10;
    border-radius: 10px;
}

header
{
    margin: 3px;
    flex: 1 1 100vw;
    height: 100px;
    background: rgb(8, 16, 40);
}

nav
{
    margin: 3px;
    flex: 1 1 100vw;
    height: 100px;
    background: rgb(8, 16, 40);
}

.dp_menu ul
{
    list-style-type: none;
    padding: 0;
    background-color:  rgb(11, 23, 57);
}
.dp_menu ul li
{
    display:inline-block ;
    position: relative;
}
.dp_menu ul li a
{
    background: rgb(8, 16, 40);
    text-decoration: none;
    display:inline-block ;
    padding: 10px;
    color: white;
}
.dp_menu ul li button
{
    background:rgb(11, 23, 57);
    text-decoration: none;
    padding: 10px;
    border: none;
    display: block;
    color: white;
    
}
/* sub*/
.dp_menu ul ul
{
    display: none;
    position:absolute;
    width: 200px;
}
.dp_menu ul li a:hover
{
    background-color: rgb(11, 23, 57);
    display: block;
}
.dp_menu ul li:hover ul
{
    display: block;
    
}

main
{
    margin: 5px;
    flex: 20 1 500px;
    height: calc(100vh - 170px);
    background: rgb(11, 23, 57);
}

aside
{
    margin: 5px;
    flex: 1 1 200px;
    background: rgb(11, 23, 57);
}
footer
{
    margin: 3px;
    flex: 1 1 100vw;
    height: 40px;
    background: rgb(11, 23, 57);
}
a
{
    text-decoration: none;
    color: black;
}

