.button_new
{
    align-items: center;
    display: flex;
    border: none;
    flex-direction: column; 
}
.btn
{
    background-color: #357ABD;
    margin: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
}


