#atendimentos 
{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.atendimento details 
{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

.atendimento summary 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: #ececec;
    border-radius: 8px;
    font-size: 14px;
}

.atendimento .info-item 
{
    flex: 1 1 25%; 
    min-width: 150px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.detalhes 
{
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 10px;
    border-radius: 8px;
}

@media (max-width: 600px) 
{
    .atendimento summary 
    {
        flex-direction: column;
    }

    .atendimento .info-item 
    {
        flex: 1 1 100%; 
    }
}